* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
}

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.instagram-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
}

.instagram-phone img {
  height: 36rem;
}

.instagram-continue {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 40%;
  min-height: 34rem;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgray;
}

.group:first-child {
  min-height: 19rem;
  margin-bottom: .6rem;
}

.instagram-logo {
  height: 4.5rem;
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 1rem;
}

.profile-photo img {
  height: 8rem;
}

.instagram-login {
  background-color: #0095f6;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
}

.instagram-logout {
  color: #0095f6;
  margin-top: 1rem;
}

.not-account {
  color: rgb(160, 160, 160);
}

.link-blue {
  color: #0095f6;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.get-app-text {
  color: black;
}

.download-store {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.download-button {
  display: inline;
  height: 3rem;
  width: 48%;
  background-size: contain;
  background-repeat: no-repeat;
}

.download-button:first-child {
  background-position: right;
}

.download-button:last-child {
  background-position: left;
}

.download-button:nth-child(1) {
  background-image: url('./images/app_store_btn.jpg');
}

.download-button:nth-child(2) {
  background-image: url('./images/play_store_btn.png');
}

@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}

@media (max-width: 600px) {
body {
  background-color: #ffffff;
}
  .instagram-wrapper {
    align-items: stretch;
    width: 90%;
    margin: 4vh 0;
    height: 92vh;
  }

  .instagram-phone{
    display: none;
  }

  .instagram-continue{
    width: 100%;
  }

  .group {
    border: none;
  }

  .download-store {
    justify-content: space-between;
  }
}